<div dir="rtl" style="text-align: right;">
الوحدة الثانية:   المهمة الثامن  Task_8</div>

<div dir="rtl" style="text-align: right;">  


المهمة 1 – بيانات موظفين

emp1 = {"name": "Ali", "age": 30, "salary": 5000}

emp2 = {"name": "Sara", "age": 28, "salary": 5500}

emp3 = {"name": "Omar", "age": 35, "salary": 6000}

employees = [emp1, emp2, emp3]

skills1 = {"Python", "SQL"}

skills2 = {"Java", "Python"}

المطلوب:
1.	اطبع أسماء الموظفين.
2.	زد الراتب للموظف الأول إلى 5500.
3.	أضف مفتاح "department" لكل موظف: "IT" للموظف الأول والثالث، "HR" للموظف الثاني.
4.	احذف مفتاح "age" من الموظف الثاني.
5.	أضف "R" لمجموعة skills1.
6.	احذف "SQL" من مجموعة skills1.
7.	اطبع كل البيانات بعد التعديلات.
الحل:




</div>

<div dir="rtl" style="text-align: right;">  


</div>

<div dir="rtl" style="text-align: right;">  


المهمة 2 – رحلة سفر

trip1 = ["Paris", "London", "Berlin"]

trip2 = ["Rome", "Paris", "Madrid"]

visited = set(trip1)

planned = set(trip2)

المطلوب:
1.	أضف "Tokyo" و "Dubai" إلى مجموعة visited.
2.	احذف "Berlin" من visited.
3.	اطبع اتحاد المجموعتين.
4.	اطبع التقاطع بين المجموعتين.
5.	اطبع المدن الموجودة في visited فقط.
6.	اطبع المدن غير المشتركة (الفرق المتماثل).
الحل:




</div>