<div dir="rtl" style="text-align: right;">
الوحدة الثانية: تراكيب البيانات المتقدمة</div>

<div dir="rtl" style="text-align: right;">
 الدرس 2.4:  في بايثون</div>

<div dir="rtl" style="text-align: right;">
(Tuple)</div>

<div dir="rtl" style="text-align: right;">
1-	 إنشاء Tuple بسيطة</div>

In [8]:

numbers = (1, 2, 3, 4)
print(numbers)

(1, 2, 3, 4)

<div dir="rtl" style="text-align: right;">
2-	انشاء  Tuple بأنواع بيانات متعددة</div>

In [9]:

mixed = (1, "Hello", 3.14, True)
print(mixed)

(1, 'Hello', 3.14, True)

<div dir="rtl" style="text-align: right;">
3-	 إنشاء Tuple بدون أقواس</div>

In [10]:

my_tuple = 1, 2, 3
print(my_tuple) 
print(type(my_tuple))

(1, 2, 3)
<class 'tuple'>

<div dir="rtl" style="text-align: right;">
4-	العمليات الأساسية على الـ Tuple</div>

<div dir="rtl" style="text-align: right;">
-	الفهرسة (Indexing)</div>

In [11]:

fruits = ("Apple", "Banana", "Orange")
print(fruits[0]) 
print(fruits[2])

Apple
Orange

<div dir="rtl" style="text-align: right;">
-	التقطيع (Slicing)</div>

In [12]:

numbers = (10, 20, 30, 40, 50)
print(numbers[1:4]) 
print(numbers[:3])
print(numbers[::2])

(20, 30, 40)
(10, 20, 30)
(10, 30, 50)

<div dir="rtl" style="text-align: right;">
-	الجمع بين الـ Tuples</div>

In [13]:


a = (1, 2, 3)
b = (4, 5)
c = a + b
print(c)

(1, 2, 3, 4, 5)

<div dir="rtl" style="text-align: right;">
-	تكرار العناصر</div>

In [14]:

colors = ("Red", "Blue")
print(colors * 3)

('Red', 'Blue', 'Red', 'Blue', 'Red', 'Blue')

<div dir="rtl" style="text-align: right;">
5-	التحقق من وجود عنصر</div>

In [15]:


letters = ("A", "B", "C")
print("A" in letters)  
print("D" not in letters)

True
True

<div dir="rtl" style="text-align: right;">
-	الدوال المدمجة مع الـ Tuple</div>

In [16]:


nums = (1, 2, 3, 2, 4, 2)
print(len(nums)) 
print(nums.count(2))
print(nums.index(4))

6
3
4

<div dir="rtl" style="text-align: right;">
التمرين التطبيقي
لديك الـ Tuple التالية

student = ("Ali", 21, "Damascus", 85, "IT")

المطلوب
1.	اطبع اسم الطالب (أول عنصر)
2.	اطبع المدينة (العنصر الثالث)
3.	اطبع آخر عنصر باستخدام الفهرسة السالبة
4.	استخرج جزء من الـ Tuple يحتوي على العمر والمعدل فقط
5.	اجمع الـ Tuple مع أخرى جديدة: ("Graduated",)
6.	تحقق إذا كانت "IT" موجودة في الـ Tuple
7.	أنشئ Tuple من الأرقام: (10, 20, 30, 20, 40, 20)، ثم

احسب عدد العناصر
 احسب كم مرة تكررت القيمة 20

اعرف الفهرس لأول مرة تظهر فيه القيمة40


الحل</div>

In [17]:

student = ("Ali", 21, "Damascus", 85, "IT")
print(student)
# 1
print("Name:", student[0])
# 2
print("City:", student[2])
# 3
print("Last element:", student[-1])
# 4
print("Age & Grade:", student[1:4:2])

# 5
new_student = student + ("Graduated",)
print("After merging:", new_student)
# 6
print("is IT exists ", "IT" in student)


nums = (10, 20, 30, 20, 40, 20)

print("Number of elements :", len(nums))

print("Repeat of 20:", nums.count(20))

print("location  of 40:", nums.index(40))

('Ali', 21, 'Damascus', 85, 'IT')
Name: Ali
City: Damascus
Last element: IT
Age & Grade: (21, 85)
After merging: ('Ali', 21, 'Damascus', 85, 'IT', 'Graduated')
is IT exists  True
Number of elements : 6
Repeat of 20: 3
location  of 40: 4