<div dir="rtl" style="text-align: right;">
الوحدة الثانية: تراكيب البيانات المتقدمة</div>

<div dir="rtl" style="text-align: right;">
الدرس 2.5: المجموعات في بايثون</div>

<div dir="rtl" style="text-align: right;">
(Set)</div>

<div dir="rtl" style="text-align: right;">
1-	إنشاء Set في بايثون</div>

In [37]:

fruits = ("Apple", "Banana", "Orange")
print(fruits)

('Apple', 'Banana', 'Orange')

<div dir="rtl" style="text-align: right;">
2-	خصائص الـ Set

In [38]:

empty_set = set()
print(empty_set)

set()

<div dir="rtl" style="text-align: right;">
a.	القيم الفريدة</div>

In [39]:

numbers = {1, 2, 2, 3, 4, 4}
print(numbers)

{1, 2, 3, 4}

<div dir="rtl" style="text-align: right;">
b.  عدم وجود فهرسة

In [40]:

colors_set = {"Red", "Blue", "Green"}
print(colors[0])

Red

<div dir="rtl" style="text-align: right;">
3-	العمليات على الـ Set</div>

<div dir="rtl" style="text-align: right;">
1-	الإضافة</div>

In [41]:

fruits = {"Apple", "Banana"}
# add()

fruits.add("Orange")
print(fruits)

# update ()
fruits.update(["Grapes", "Watermelon"])
print(fruits)

{'Orange', 'Apple', 'Banana'}
{'Watermelon', 'Apple', 'Orange', 'Banana', 'Grapes'}

<div dir="rtl" style="text-align: right;">
2-	الحذف</div>

In [42]:

cities = {"London", "Paris", "Berlin"}
# remove()
cities.remove("London")
print(cities)

# discard()
cities.discard("Rome")
print(cities)


# pop()
removed_item = cities.pop()
print("Removed",removed_item )
# clear()
cities.clear()
print(cities)

{'Berlin', 'Paris'}
{'Berlin', 'Paris'}
Removed Berlin
set()

<div dir="rtl" style="text-align: right;">
3-	 دعم العمليات الرياضية</div>

<div dir="rtl" style="text-align: right;">
-	الاتحاد (Union)</div>

In [43]:

set1 = {1, 2, 3}
set2 = {3, 4, 5}

print(set1 | set2)
print(set1.union(set2))

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

<div dir="rtl" style="text-align: right;">
-	التقاطع (Intersection)</div>

In [44]:

set1 = {1, 2, 3}
set2 = {2, 3, 4}

print(set1 & set2)
print(set1.intersection(set2))

{2, 3}
{2, 3}

<div dir="rtl" style="text-align: right;">
-	الفرق (Difference)</div>

In [45]:

set1 = {1, 2, 3}
set2 = {2, 3, 4}

print(set1 - set2)
print(set1.difference(set2))

{1}
{1}

<div dir="rtl" style="text-align: right;">
-	الفرق المتماثل (Symmetric Difference)</div>

In [46]:

set1 = {1, 2, 3}
set2 = {2, 3, 4}

print(set1 ^ set2)
print(set1.symmetric_difference(set2))

{1, 4}
{1, 4}

<div dir="rtl" style="text-align: right;">
التمرين التطبيقي
لديك مجموعتين تمثلان لغات يعرفها شخصان مختلفان:

person1 = {"Python", "C++", "Java"}

person2 ={"Java", "JavaScript", "Python"}

المطلوب:
1.	أضف اللغة "Go" إلى مجموعة الشخص الأول
2.	احذف اللغة "C++" من مجموعة الشخص الأول
3.	اطبع اتحاد المجموعتين (كل اللغات التي يعرفها الاثنان معًا)
4.	اطبع التقاطع (اللغات المشتركة بينهما)
5.	اطبع الفرق بين الشخص الأول والشخص الثاني (لغات يعرفها الأول فقط)
6.	اطبع الفرق المتماثل (اللغات غير المشتركة)

الحل</div>

In [47]:

# 0 

person1 = {"Python", "C++", "Java"}
person2 = {"Java", "JavaScript", "Python"}

print(person1)
print(person2)
# 1
person1.add("Go")

print(person1)
# 2
person1.discard("C++")

print(person1)

# 3
print("Union:", person1 | person2)

# 4
print("Intersection:", person1 & person2)


# 5
print("Difference (person1 - person2):", person1 - person2)


# 6
print("Symmetric Difference:", person1 ^ person2)

{'Java', 'C++', 'Python'}
{'Java', 'JavaScript', 'Python'}
{'Java', 'C++', 'Go', 'Python'}
{'Java', 'Go', 'Python'}
Union: {'Python', 'Java', 'JavaScript', 'Go'}
Intersection: {'Java', 'Python'}
Difference (person1 - person2): {'Go'}
Symmetric Difference: {'JavaScript', 'Go'}