<div dir="rtl" style="text-align: right;">
الوحدة الثانية: تراكيب البيانات المتقدمة</div>

<div dir="rtl" style="text-align: right;">
الدرس 2.3: القواميس  في بايثون</div>

<div dir="rtl" style="text-align: right;">
(Dictionary)</div>

<div dir="rtl" style="text-align: right;">
1-	إنشاء قاموس مباشرة</div>

In [6]:

student = {"name": "Ahmed", "age": 20, "grade": 85}
print(student)

{'name': 'Ahmed', 'age': 20, 'grade': 85}

<div dir="rtl" style="text-align: right;">
2-	الوصول إلى القيم</div>

In [7]:

person = {"name": "Sara", "age": 22}

print(person["name"])

print(person["age"])

Sara
22

<div dir="rtl" style="text-align: right;">
3-	تعديل القيم</div>

In [8]:

person = {"name": "Sara", "age": 22}

print(person)

person = {"name": "Mona"}
person["city"] = "Damascus"

print(person)

{'name': 'Sara', 'age': 22}
{'name': 'Mona', 'city': 'Damascus'}

<div dir="rtl" style="text-align: right;">
4-	إضافة عنصر جديد</div>

In [9]:

person = {"name": "Omar", "age": 28}
print(person)

person = {"name": "Mona"}
person = {"age":"30"}

print(person)

{'name': 'Omar', 'age': 28}
{'age': '30'}

<div dir="rtl" style="text-align: right;">
5-	حذف عنصر</div>

In [10]:

person = {"name": "Omar", "age": 28}
print(person)

del person["age"]
print(person)

{'name': 'Omar', 'age': 28}
{'name': 'Omar'}

<div dir="rtl" style="text-align: right;">
التمرين التطبيقي
لديك قاموس يمثل بيانات موظف

employee = {
    "name": "Ali",
    "age": 30,
    "city": "Aleppo",
    "salary": 5000}
    
المطلوب:
1.	اطبع اسم الموظف وعمره
2.	عدّل قيمة الراتب إلى 6000
3.	أضف مفتاح جديد اسمه "department" وقيمته "IT"
4.	احذف المفتاح "city"
5.	اطبع القاموس بعد التعديلات

الحل</div>

In [11]:

employee = {
        "name": "Ali",
            "age": 30,
                "city": "Aleppo",
                    "salary": 5000
}

print(employee)


# 1
print("Name:", employee["name"])
print("Age:", employee["age"])

employee = {
        "name": "Ali",
            "age": 30,
                "city": "Aleppo",
                    "salary": 5000
}
print(employee)

employee["salary"] = 6000
print(employee)


employee = {
        "name": "Ali",
            "age": 30,
                "city": "Aleppo",
                    "salary": 5000
}
print(employee)

employee["department"] = "IT"
print(employee)


employee = {
        "name": "Ali",
            "age": 30,
                "city": "Aleppo",
                    "salary": 5000
}
print(employee)
del employee["city"]
print(employee)

{'name': 'Ali', 'age': 30, 'city': 'Aleppo', 'salary': 5000}
Name: Ali
Age: 30
{'name': 'Ali', 'age': 30, 'city': 'Aleppo', 'salary': 5000}
{'name': 'Ali', 'age': 30, 'city': 'Aleppo', 'salary': 6000}
{'name': 'Ali', 'age': 30, 'city': 'Aleppo', 'salary': 5000}
{'name': 'Ali', 'age': 30, 'city': 'Aleppo', 'salary': 5000, 'department': 'IT'}
{'name': 'Ali', 'age': 30, 'city': 'Aleppo', 'salary': 5000}
{'name': 'Ali', 'age': 30, 'salary': 5000}