<div dir="rtl" style="text-align: right;">
الوحدة الثانية: تراكيب البيانات المتقدمة</div>

<div dir="rtl" style="text-align: right;">
الدرس 2.2: القوائم المتداخلة  في بايثون</div>

<div dir="rtl" style="text-align: right;">
(Nested Lists)</div>

<div dir="rtl" style="text-align: right;">
1.	إنشاء القوائم المتداخلة</div>

In [16]:

# 1. Create nested list
nested_list = [
        ["Ali", 90, "Damascus"],
            ["Sara", 85, "Aleppo"],
                ["Omar", 78, "Homs"]
]

<div dir="rtl" style="text-align: right;">
2.	الوصول إلى عناصر القوائم المتداخلة</div>

In [17]:

# 2. Access elements

# Access Sara

print(nested_list[1][0])

# Access city Homs

print(nested_list[2][2])

Sara
Homs

<div dir="rtl" style="text-align: right;">
3.	تعديل القوائم المتداخلة</div>

In [18]:

# 3. Modify nested list

nested_list = [
        ["Ali", 90, "Damascus"],
            ["Sara", 85, "Aleppo"],
                ["Omar", 78, "Homs"]
]

nested_list[1][1] = 95

print(nested_list)

[['Ali', 90, 'Damascus'], ['Sara', 95, 'Aleppo'], ['Omar', 78, 'Homs']]

<div dir="rtl" style="text-align: right;">
4-	إنشاء جدول بيانات بسيط</div>

In [19]:



# 4. Create a simple data table

students = [
        ["Ali", 90, "Math"],
            ["Sara", 85, "Physics"],
                ["Omar", 78, "Chemistry"]
]

print(students[0])
print(students[1][2])

['Ali', 90, 'Math']
Physics

<div dir="rtl" style="text-align: right;">
5-	 تعديل بيانات داخل قائمة متداخلة</div>

In [20]:

# 5. Modify data inside nested list

students = [
        ["Ali", 90, "Math"],
            ["Sara", 85, "Physics"],
                ["Omar", 78, "Chemistry"]
]

students[1][1] = 92
students[2][2] = "Biology"

print(students)

[['Ali', 90, 'Math'], ['Sara', 92, 'Physics'], ['Omar', 78, 'Biology']]

<div dir="rtl" style="text-align: right;">
تمرين
المطلوب:

-  أنشئ قائمة متداخلة تحتوي على بيانات 4 موظفين، بحيث تحتوي كل قائمة فرعية على: الاسم، العمر، المدينة

-  عدّل مدينة الموظف الثاني

الحل 
</div>

In [21]:

employees = [
        ["Ahmad", 30, "Damascus"],
            ["Laila", 28, "Aleppo"],
                ["Hassan", 35, "Homs"],
                    ["Mona", 40, "Latakia"]
]

print(employees)

employees[1][2] = "Hama" 

print(employees)

[['Ahmad', 30, 'Damascus'], ['Laila', 28, 'Aleppo'], ['Hassan', 35, 'Homs'], ['Mona', 40, 'Latakia']]
[['Ahmad', 30, 'Damascus'], ['Laila', 28, 'Hama'], ['Hassan', 35, 'Homs'], ['Mona', 40, 'Latakia']]