الوحدة الخامسة: الحلقات التكرارية<div dir="rtl" style="text-align: right;">
</div>

<div dir="rtl" style="text-align: right;">
تمرين 
المطلوب:

1.	أنشئ قائمة جديدة بأسماء 5 مدن.
2.	عدّل اسم المدينة الثالثة.
3.	أضف مدينتين جديدتين باستخدام extend().
4.	احذف أول مدينة باستخدام pop().
5.	اطبع قائمة المدن باستخدام for و enumerate.

الحل 
</div>

<div dir="rtl" style="text-align: right;">
-	إنشاء القائمة</div>

In [3]:

cities = ["London", "Paris", "Rome", "Berlin", "Madrid"]

print(cities)

['London', 'Paris', 'Rome', 'Berlin', 'Madrid']

<div dir="rtl" style="text-align: right;">
-	تعديل اسم المدينة الثالثة</div>

In [4]:

cities[2] = "Athens"
print(cities)

['London', 'Paris', 'Athens', 'Berlin', 'Madrid']

<div dir="rtl" style="text-align: right;">
-	إضافة مدينتين</div>

In [5]:

cities.extend(["Lisbon", "Oslo"])

print(cities)

['London', 'Paris', 'Athens', 'Berlin', 'Madrid', 'Lisbon', 'Oslo']

<div dir="rtl" style="text-align: right;">
-	الطباعة باستخدام for</div>

In [6]:

print("Cities using for loop:")
for city in cities:
    print(city)

Cities using for loop:
London
Paris
Athens
Berlin
Madrid
Lisbon
Oslo

<div dir="rtl" style="text-align: right;">
-	الطباعة باستخدام enumerate</div>

In [7]:

print("Cities using enumerate:")
for index, city in enumerate(cities, start=1):
    print(f"City {index}: {city}")

Cities using enumerate:
City 1: London
City 2: Paris
City 3: Athens
City 4: Berlin
City 5: Madrid
City 6: Lisbon
City 7: Oslo