<div dir="rtl" style="text-align: right;">
الوحدة الثانية:   التمرين الثامن  Exercise_8</div>

<div dir="rtl" style="text-align: right;">  
التمرين 1 – إدارة درجات الطلاب

student1 = {"name": "Ali", "age": 20, "grades": [85, 90, 78]}

student2 = {"name": "Sara", "age": 22, "grades": [92, 88, 95]}

student3 = {"name": "Omar", "age": 21, "grades": [70, 75, 80]}


students = [student1, student2, student3]

subjects = ("Math", "Physics", "Chemistry")

languages = {"Python", "Java", "C++"}


الأسئلة:
1.	اطبع أسماء جميع الطلاب.
2.	أضف درجة جديدة (100) لكل طالب في آخر مادة.
3.	احسب متوسط الدرجات لكل طالب وأضف المتوسط كمفتاح جديد باسم "average".
4.	أنشئ Tuple يحتوي فقط على أسماء الطلاب.
5.	أضف لغة "JavaScript" إلى مجموعة اللغات.
6.	احذف "C++" من مجموعة اللغات.
7.	اطبع جميع البيانات بعد إجراء التعديلات.



</div>

In [6]:
# Data
student1 = {"name": "Ali", "age": 20, "grades": [85, 90, 78]}
student2 = {"name": "Sara", "age": 22, "grades": [92, 88, 95]}
student3 = {"name": "Omar", "age": 21, "grades": [70, 75, 80]}
students = [student1, student2, student3]
subjects = ("Math", "Physics", "Chemistry")
languages = {"Python", "Java", "C++"}
# 1
print(student1["name"])
print(student2["name"])
print(student3["name"])
#2
student1["grades"].append(100)
student2["grades"].append(100)
student3["grades"].append(100)
#3
student1["average"] = sum(student1["grades"]) / len(student1["grades"])
student2["average"] = sum(student2["grades"]) / len(student2["grades"])
student3["average"] = sum(student3["grades"]) / len(student3["grades"])
print(student1)
print(student2)


names_tuple = (student1["name"], student2["name"], student3["name"])
print(names_tuple)
#5
languages.add("JavaScript")
# 6
languages.remove("C++")
# 7
print(students)
print(languages)

Ali
Sara
Omar
{'name': 'Ali', 'age': 20, 'grades': [85, 90, 78, 100], 'average': 88.25}
{'name': 'Sara', 'age': 22, 'grades': [92, 88, 95, 100], 'average': 93.75}
('Ali', 'Sara', 'Omar')
[{'name': 'Ali', 'age': 20, 'grades': [85, 90, 78, 100], 'average': 88.25}, {'name': 'Sara', 'age': 22, 'grades': [92, 88, 95, 100], 'average': 93.75}, {'name': 'Omar', 'age': 21, 'grades': [70, 75, 80, 100], 'average': 81.25}]
{'JavaScript', 'Java', 'Python'}

<div dir="rtl" style="text-align: right;">  


التمرين 2 – مكتبة كتب

book1 = {"title": "Python Basics", "author": "Ali", "pages": 350}

book2 = {"title": "Data Science", "author": "Sara", "pages": 420}

book3 = {"title": "AI Fundamentals", "author": "Omar", "pages": 300}


library = [book1, book2, book3]

genres = {"Programming", "Data Science"}

المطلوب:
1.	اطبع عناوين الكتب.
2.	أضف مفتاح "genre" لكل كتاب: "Programming" للكتاب الأول والثالث، "Data Science" للكتاب الثاني.
3.	زد عدد الصفحات في الكتاب الثالث إلى 320.
4.	احذف مفتاح "author" من الكتاب الثاني.
5.	أضف "Machine Learning" إلى مجموعة genres.
6.	احذف "Data Science" من مجموعة genres.
7.	اطبع المكتبة ومجموعة الأنواع بعد التعديلات.
الحل:



</div>

In [ ]:
#Data
book1 = {"title": "Python Basics", "author": "Ali", "pages": 350}
book2 = {"title": "Data Science", "author": "Sara", "pages": 420}
book3 = {"title": "AI Fundamentals", "author": "Omar", "pages": 300}
library = [book1, book2, book3]
genres = {"Programming", "Data Science"}

# 1
print(book1["title"])
print(book2["title"])
print(book3["title"])
# 2
book1["genre"] = "Programming"
book2["genre"] = "Data Science"
book3["genre"] = "Programming"
# 3
book3["pages"] = 320
# 4
book2.pop("author")
# 5
genres.add("Machine Learning")
# 6
genres.remove("Data Science")
# 7
print(library)
print(genres)

Python Basics
Data Science
AI Fundamentals
[{'title': 'Python Basics', 'author': 'Ali', 'pages': 350, 'genre': 'Programming'}, {'title': 'Data Science', 'pages': 420, 'genre': 'Data Science'}, {'title': 'AI Fundamentals', 'author': 'Omar', 'pages': 320, 'genre': 'Programming'}]
{'Programming', 'Machine Learning'}

<div dir="rtl" style="text-align: right;">  


التمرين 3 – بيانات موظفين

emp1 = {"name": "Ali", "age": 30, "salary": 5000}

emp2 = {"name": "Sara", "age": 28, "salary": 5500}

emp3 = {"name": "Omar", "age": 35, "salary": 6000}

employees = [emp1, emp2, emp3]

skills1 = {"Python", "SQL"}

skills2 = {"Java", "Python"}

المطلوب:
1.	اطبع أسماء الموظفين.
2.	زد الراتب للموظف الأول إلى 5500.
3.	أضف مفتاح "department" لكل موظف: "IT" للموظف الأول والثالث، "HR" للموظف الثاني.
4.	احذف مفتاح "age" من الموظف الثاني.
5.	أضف "R" لمجموعة skills1.
6.	احذف "SQL" من مجموعة skills1.
7.	اطبع كل البيانات بعد التعديلات.
الحل:




</div>

<div dir="rtl" style="text-align: right;">  


</div>

In [3]:
emp1 = {"name": "Ali", "age": 30, "salary": 5000}
emp2 = {"name": "Sara", "age": 28, "salary": 5500}
emp3 = {"name": "Omar", "age": 35, "salary": 6000}

employees = [emp1, emp2, emp3]

skills1 = {"Python", "SQL"}
skills2 = {"Java", "Python"}


# 1
print(emp1["name"])
print(emp2["name"])
print(emp3["name"])

# 2
emp1["salary"] = 5500

# 3
emp1["department"] = "IT"
emp2["department"] = "HR"
emp3["department"] = "IT"

# 4
emp2.pop("age")

# 5
skills1.add("R")

# 6
skills1.remove("SQL")

# 7
print(employees)
print(skills1)
print(skills2)

Ali
Sara
Omar
[{'name': 'Ali', 'age': 30, 'salary': 5500, 'department': 'IT'}, {'name': 'Sara', 'salary': 5500, 'department': 'HR'}, {'name': 'Omar', 'age': 35, 'salary': 6000, 'department': 'IT'}]
{'R', 'Python'}
{'Java', 'Python'}

<div dir="rtl" style="text-align: right;">  


التمرين 4 – رحلة سفر

trip1 = ["Paris", "London", "Berlin"]

trip2 = ["Rome", "Paris", "Madrid"]

visited = set(trip1)

planned = set(trip2)

المطلوب:
1.	أضف "Tokyo" و "Dubai" إلى مجموعة visited.
2.	احذف "Berlin" من visited.
3.	اطبع اتحاد المجموعتين.
4.	اطبع التقاطع بين المجموعتين.
5.	اطبع المدن الموجودة في visited فقط.
6.	اطبع المدن غير المشتركة (الفرق المتماثل).
الحل:




</div>

In [4]:
trip1 = ["Paris", "London", "Berlin"]
trip2 = ["Rome", "Paris", "Madrid"]

visited = set(trip1)
planned = set(trip2)



visited.add("Tokyo")
visited.add("Dubai")

visited.remove("Berlin")

print("Union:", visited | planned)
print("Intersection:", visited & planned)
print("Difference (visited - planned):", visited - planned)
print("Symmetric Difference:", visited ^ planned)

Union: {'Dubai', 'Tokyo', 'London', 'Madrid', 'Paris', 'Rome'}
Intersection: {'Paris'}
Difference (visited - planned): {'Dubai', 'Tokyo', 'London'}
Symmetric Difference: {'Madrid', 'Rome', 'Dubai', 'Tokyo', 'London'}