<div dir="rtl" style="text-align: right;">
الوحدة الثانية:   المهمة السادس  Task_6</div>

<div dir="rtl" style="text-align: right;">  

المهمة 1 – بيانات سيارة

car = ("Toyota", "Corolla", 2022, "Red", 20000)

المطلوب:
1.	اطبع الماركة والطراز.
2.	اطبع آخر عنصر (السعر).
3.	استخرج جزء يحتوي على السنة واللون.
4.	اجمع الـ Tuple مع أخرى: ("Used",)
5.	تحقق إذا كانت "Blue" موجودة.
6.	أنشئ Tuple من الأرقام: (100, 200, 300, 200, 400, 100)
- احسب عدد العناصر
- كم مرة تكررت 10
- 	فهرس أول ظهور للقيمة 400

الحل:



</div>

<div dir="rtl" style="text-align: right;">  


</div>

In [1]:


car = ("Toyota", "Corolla", 2022, "Red", 20000)

# 1
print(car[0], car[1])
# 2
print(car[-1])
# 3
subset = car[2:4]
print(subset)
# 4
new_tuple = car + ("Used",)
print(new_tuple)
# 5
print("Blue" in car)
# 6
numbers = (100, 200, 300, 200, 400, 100)
print(len(numbers))
print(numbers.count(100))
print(numbers.index(400))

Toyota Corolla
20000
(2022, 'Red')
('Toyota', 'Corolla', 2022, 'Red', 20000, 'Used')
False
6
2
4

<div dir="rtl" style="text-align: right;">  

المهمة 2 – بيانات كتاب

book = ("Python Basics", "Ali", 2021, 350)
المطلوب:
1.	اطبع عنوان الكتاب والمؤلف.
2.	اطبع آخر عنصر (عدد الصفحات).
3.	استخرج جزء يحتوي على السنة والصفحات.
4.	اجمع الـ Tuple مع أخرى: ("Programming",)
5.	تحقق إذا كان المؤلف "Sara" موجودًا.
6.	أنشئ Tuple من الأرقام: (5, 10, 15, 10, 5, 20)
- 	احسب عدد العناصر
- 	عدد مرات تكرار 10
- 	فهرس أول ظهور للقيمة 20
الحل:



</div>

In [2]:


book = ("Python Basics", "Ali", 2021, 350)

# 1
print(book[0], book[1])
# 2
print(book[-1])
# 3
subset = book[2:4]
print(subset)
# 4
new_tuple = book + ("Programming",)
print(new_tuple)
# 5
print("Sara" in book)
# 6
numbers = (5, 10, 15, 10, 5, 20)
print(len(numbers))
print(numbers.count(10))
print(numbers.index(20))

Python Basics Ali
350
(2021, 350)
('Python Basics', 'Ali', 2021, 350, 'Programming')
False
6
2
5