<div dir="rtl" style="text-align: right;">
الوحدة الثانية:   المهمة الخامس  Task_5</div>

<div dir="rtl" style="text-align: right;">  

المهمة 1 – بيانات مجموعة موظفين

employees = {
    "emp1": {"name": "Ali", "age": 30, "salary": 5000},
    "emp2": {"name": "Sara", "age": 28, "salary": 5500},
    "emp3": {"name": "Omar", "age": 35, "salary": 6000}
}

المطلوب:
1.	اطبع أسماء جميع الموظفين.
2.	زد راتب "emp1" إلى 5500.
3.	أضف مفتاح "department" بقيمة "IT" لكل موظف.
4.	احذف مفتاح "age" من "emp2".
5.	اطبع القاموس بعد التعديلات.
الحل:




</div>

In [1]:


employees = {"emp1": {"name": "Ali", "age": 30, "salary": 5000},"emp2": {"name": "Sara", "age": 28, "salary": 5500},"emp3": {"name": "Omar", "age": 35, "salary": 6000}}

# 1
print(employees["emp1"]["name"], employees["emp2"]["name"], employees["emp3"]["name"])
# 2
employees["emp1"]["salary"] = 5500
# 3
employees["emp1"]["department"] = "IT"
employees["emp2"]["department"] = "IT"
employees["emp3"]["department"] = "IT"
# 4
employees["emp2"].pop("age")
# 5
print(employees)

Ali Sara Omar
{'emp1': {'name': 'Ali', 'age': 30, 'salary': 5500, 'department': 'IT'}, 'emp2': {'name': 'Sara', 'salary': 5500, 'department': 'IT'}, 'emp3': {'name': 'Omar', 'age': 35, 'salary': 6000, 'department': 'IT'}}

<div dir="rtl" style="text-align: right;">  

المهمة 2 – سجل درجات الطلاب

students = {
    "stu1": {"name": "Lina", "grades": {"math": 85, "english": 90}},
    "stu2": {"name": "Nour", "grades": {"math": 78, "english": 88}},
    "stu3": {"name": "Khaled", "grades": {"math": 92, "english": 81}}
}

المطلوب:
1.	اطبع أسماء الطلاب مع درجات الرياضيات.
2.	أضف مادة جديدة "science" لكل طالب مع درجات: 95, 88, 90 على التوالي.
3.	احسب المتوسط لكل طالب وأضفه كمفتاح "average".
4.	احذف مادة "english" من "stu2".
5.	اطبع القاموس بعد التعديلات.
الحل:




</div>

In [2]:

students = {"stu1": {"name": "Lina", "grades": {"math": 85, "english": 90}},"stu2": {"name": "Nour", "grades": {"math": 78, "english": 88}},"stu3": {"name": "Khaled", "grades": {"math": 92, "english": 81}}}

# 1
print(students["stu1"]["name"], students["stu1"]["grades"]["math"])
print(students["stu2"]["name"], students["stu2"]["grades"]["math"])
print(students["stu3"]["name"], students["stu3"]["grades"]["math"])
# 2
students["stu1"]["grades"]["science"] = 95
students["stu2"]["grades"]["science"] = 88
students["stu3"]["grades"]["science"] = 90
# 3
students["stu1"]["average"] = sum(students["stu1"]["grades"].values()) / len(students["stu1"]["grades"])
students["stu2"]["average"] = sum(students["stu2"]["grades"].values()) / len(students["stu2"]["grades"])
students["stu3"]["average"] = sum(students["stu3"]["grades"].values()) / len(students["stu3"]["grades"])
# 4
students["stu2"]["grades"].pop("english")
# 5
print(students)

Lina 85
Nour 78
Khaled 92
{'stu1': {'name': 'Lina', 'grades': {'math': 85, 'english': 90, 'science': 95}, 'average': 90.0}, 'stu2': {'name': 'Nour', 'grades': {'math': 78, 'science': 88}, 'average': 84.66666666666667}, 'stu3': {'name': 'Khaled', 'grades': {'math': 92, 'english': 81, 'science': 90}, 'average': 87.66666666666667}}

<div dir="rtl" style="text-align: right;">  



المهمة 3 – بيانات الفروع المصرفية

branches = {
    "branch1": {"city": "Aleppo", "employees": 10, "balance": 100000},
    "branch2": {"city": "Damascus", "employees": 12, "balance": 120000},
    "branch3": {"city": "Homs", "employees": 8, "balance": 90000}
}

المطلوب:
1.	اطبع أسماء المدن وعدد الموظفين لكل فرع.
2.	زد عدد الموظفين في "branch3" إلى 10.
3.	أضف مفتاح "status" لكل فرع بقيمة "active".
4.	احذف المفتاح "balance" من "branch2".
5.	اطبع القاموس بعد التعديلات.
الحل:



</div>

In [5]:

branches = {"branch1": {"city": "Aleppo", "employees": 10, "balance": 100000},
            "branch2": {"city": "Damascus", "employees": 12, "balance": 120000},
            "branch3": {"city": "Homs", "employees": 8, "balance": 90000}}

# 1
print(branches["branch1"]["city"], branches["branch1"]["employees"])
print(branches["branch2"]["city"], branches["branch2"]["employees"])
print(branches["branch3"]["city"], branches["branch3"]["employees"])
# 2
branches["branch3"]["employees"] = 10
# 3
branches["branch1"]["status"] = "active"
branches["branch2"]["status"] = "active"
branches["branch3"]["status"] = "active"
# 4
branches["branch2"].pop("balance")
# 5
print(branches)

Aleppo 10
Damascus 12
Homs 8
{'branch1': {'city': 'Aleppo', 'employees': 10, 'balance': 100000, 'status': 'active'}, 'branch2': {'city': 'Damascus', 'employees': 12, 'status': 'active'}, 'branch3': {'city': 'Homs', 'employees': 10, 'balance': 90000, 'status': 'active'}}

<div dir="rtl" style="text-align: right;">  


المهمة 4 – مكتبة كتب

library = {
    "book1": {"title": "Python Basics", "author": "Ali", "copies": 4},
    "book2": {"title": "Data Science", "author": "Sara", "copies": 6},
    "book3": {"title": "AI Fundamentals", "author": "Omar", "copies": 3}
}

المطلوب:
1.	اطبع عناوين الكتب وعدد النسخ المتاحة.
2.	أضف مفتاح "genre" لكل كتاب بقيمة "Programming".
3.	زد عدد النسخ في "book3" إلى 5.
4.	احذف مفتاح "author" من "book2".
5.	اطبع القاموس بعد التعديلات.
الحل:



</div>

In [6]:

library = {"book1": {"title": "Python Basics", "author": "Ali", "copies": 4},
           "book2": {"title": "Data Science", "author": "Sara", "copies": 6},
           "book3": {"title": "AI Fundamentals", "author": "Omar", "copies": 3}}

# 1
print(library["book1"]["title"], library["book1"]["copies"])
print(library["book2"]["title"], library["book2"]["copies"])
print(library["book3"]["title"], library["book3"]["copies"])
# 2
library["book1"]["genre"] = "Programming"
library["book2"]["genre"] = "Programming"
library["book3"]["genre"] = "Programming"
# 3
library["book3"]["copies"] = 5
# 4
library["book2"].pop("author")
# 5
print(library)

Python Basics 4
Data Science 6
AI Fundamentals 3
{'book1': {'title': 'Python Basics', 'author': 'Ali', 'copies': 4, 'genre': 'Programming'}, 'book2': {'title': 'Data Science', 'copies': 6, 'genre': 'Programming'}, 'book3': {'title': 'AI Fundamentals', 'author': 'Omar', 'copies': 5, 'genre': 'Programming'}}