<div dir="rtl" style="text-align: right;">
الوحدة الثانية:   التمرين السادس  Exercise_6</div>

<div dir="rtl" style="text-align: right;">  

التمرين 1 – بيانات موظف

employee = ("Omar", 30, "Aleppo", 5000, "HR")
المطلوب:

1.	اطبع اسم الموظف (العنصر الأول).
2.	اطبع العمر (العنصر الثاني).
3.	اطبع آخر عنصر باستخدام الفهرسة السالبة.
4.	استخرج جزء يحتوي على المدينة والراتب فقط.
5.	اجمع الـ Tuple مع أخرى جديدة: ("Active",)
6.	تحقق إذا كانت "IT" موجودة في الـ Tuple.
7.	أنشئ Tuple من الأرقام: (5, 10, 5, 20, 5, 30) ثم:
o	احسب عدد العناصر
o	كم مرة تكررت القيمة 5
o	الفهرس لأول مرة تظهر فيه القيمة 20
الحل:

الحل:




</div>

In [ ]:

employee = ("Omar", 30, "Aleppo", 5000, "HR")

# 1
print(employee[0])
# 2
print(employee[1])
# 3
print(employee[-1])
# 4
subset = employee[2:4]
print(subset)
# 5
new_tuple = employee + ("Active",)
print(new_tuple)
# 6
print("IT" in employee)
# 7
numbers = (5, 10, 5, 20, 5, 30)
print(len(numbers))
print(numbers.count(5))
print(numbers.index(20))

Omar
30
HR
('Aleppo', 5000)
('Omar', 30, 'Aleppo', 5000, 'HR', 'Active')
False
6
3
3

<div dir="rtl" style="text-align: right;">  


التمرين 2 – بيانات طالب

student = ("Lina", 22, "Damascus", 90, "CS")

المطلوب:
1.	اطبع اسم الطالب والعمر.
2.	استخرج آخر عنصر فقط.
3.	استخرج جزء من الـ Tuple يحتوي على العمر والمعدل.
4.	اجمع الـ Tuple مع أخرى جديدة: ("Graduated", "Excellent")
5.	تحقق إذا كانت "CS" موجودة.
6.	أنشئ Tuple من الأرقام: (10, 20, 10, 30, 20, 40)
- 	احسب عدد العناصر
- 	عدد مرات تكرار 10
- 	فهرس أول ظهور للقيمة 40
الحل:


</div>

In [ ]:

student = ("Lina", 22, "Damascus", 90, "CS")

# 1
print(student[0], student[1])
# 2
print(student[-1])
# 3
subset = student[1:4]
print(subset)
# 4
new_tuple = student + ("Graduated", "Excellent")
print(new_tuple)
# 5
print("CS" in student)
# 6
numbers = (10, 20, 10, 30, 20, 40)
print(len(numbers))
print(numbers.count(10))
print(numbers.index(40))