<div dir="rtl" style="text-align: right;">
الوحدة الثانية:   التمرين الخامس  Exercise_5</div>

<div dir="rtl" style="text-align: right;">  

التمرين 1 – بيانات منتج في متجر إلكتروني

product = {
    "name": "Laptop",
    "price": 1200,
    "brand": "Dell",
    "quantity": 10
}

المطلوب:

1.	اطبع اسم المنتج وسعره.
2.	عدّل الكمية لتصبح 15.
3.	أضف مفتاحًا جديدًا "discount" بقيمة 10 (تعني %10).
4.	احسب السعر بعد الخصم وأضفه في مفتاح "final_price".
5.	احذف المفتاح "brand".
6.	اطبع القاموس بعد التعديل.

الحل:




</div>

<div dir="rtl" style="text-align: right;">  


التمرين 2 – بيانات طالب

student = {
    "name": "Sara",
    "age": 22,
    "major": "Computer Science",
    "grades": {"math": 85, "python": 90, "databases": 88}
}

المطلوب:
1.	اطبع اسم الطالبة وتخصصها.
2.	أضف درجة جديدة للمادة "AI" بقيمة 95 داخل القاموس الفرعي "grades".
3.	عدّل درجة "math" لتصبح 90.
4.	احسب متوسط الدرجات وأضفه كمفتاح جديد "average".
5.	احذف مفتاح "age".
6.	اطبع القاموس بعد التعديل.
الحل:


</div>

<div dir="rtl" style="text-align: right;">  


التمرين 3 – بيانات حساب مصرفي

account = {
    "holder": "Omar",
    "balance": 2500,
    "currency": "USD",
    "bank": "ABC Bank"
}

المطلوب:
1.	اطبع اسم صاحب الحساب ورصيده.
2.	أضف 500 إلى الرصيد.
3.	أضف مفتاحًا جديدًا "status" بقيمة "active".
4.	غيّر العملة إلى "EUR".
5.	احذف المفتاح "bank".
6.	اطبع القاموس بعد التعديلات.
الحل:



</div>

<div dir="rtl" style="text-align: right;">  


</div>

<div dir="rtl" style="text-align: right;">  

التمرين 4 – سجل حضور موظف

employee = {
    "name": "Layla",
    "position": "HR Manager",
    "salary": 7000,
    "attendance": {"Jan": 20, "Feb": 18, "Mar": 22}
}

المطلوب:

1.	اطبع اسم الموظفة ومسمّاها الوظيفي.
2.	أضف شهرًا جديدًا في سجل الحضور "Apr" بقيمة 21.
3.	عدّل عدد أيام الحضور في "Feb" لتصبح 20.
4.	احسب متوسط الحضور خلال الأشهر الأربعة وأضفه في مفتاح جديد "average_attendance".
5.	أضف علاوة جديدة "bonus" بقيمة 500 إلى القاموس.
6.	احذف المفتاح "position".
7.	اطبع القاموس بعد جميع التعديلات.

الحل



</div>

<div dir="rtl" style="text-align: right;">  

التمرين 5 – بيانات مجموعة موظفين

employees = {
    "emp1": {"name": "Ali", "age": 30, "salary": 5000},
    "emp2": {"name": "Sara", "age": 28, "salary": 5500},
    "emp3": {"name": "Omar", "age": 35, "salary": 6000}
}

المطلوب:
1.	اطبع أسماء جميع الموظفين.
2.	زد راتب "emp1" إلى 5500.
3.	أضف مفتاح "department" بقيمة "IT" لكل موظف.
4.	احذف مفتاح "age" من "emp2".
5.	اطبع القاموس بعد التعديلات.
الحل:




</div>

<div dir="rtl" style="text-align: right;">  

التمرين 6 – سجل درجات الطلاب

students = {
    "stu1": {"name": "Lina", "grades": {"math": 85, "english": 90}},
    "stu2": {"name": "Nour", "grades": {"math": 78, "english": 88}},
    "stu3": {"name": "Khaled", "grades": {"math": 92, "english": 81}}
}

المطلوب:
1.	اطبع أسماء الطلاب مع درجات الرياضيات.
2.	أضف مادة جديدة "science" لكل طالب مع درجات: 95, 88, 90 على التوالي.
3.	احسب المتوسط لكل طالب وأضفه كمفتاح "average".
4.	احذف مادة "english" من "stu2".
5.	اطبع القاموس بعد التعديلات.
الحل:




</div>

<div dir="rtl" style="text-align: right;">  



التمرين 7 – بيانات الفروع المصرفية

branches = {
    "branch1": {"city": "Aleppo", "employees": 10, "balance": 100000},
    "branch2": {"city": "Damascus", "employees": 12, "balance": 120000},
    "branch3": {"city": "Homs", "employees": 8, "balance": 90000}
}

المطلوب:
1.	اطبع أسماء المدن وعدد الموظفين لكل فرع.
2.	زد عدد الموظفين في "branch3" إلى 10.
3.	أضف مفتاح "status" لكل فرع بقيمة "active".
4.	احذف المفتاح "balance" من "branch2".
5.	اطبع القاموس بعد التعديلات.
الحل:



</div>

<div dir="rtl" style="text-align: right;">  


التمرين 8 – مكتبة كتب

library = {
    "book1": {"title": "Python Basics", "author": "Ali", "copies": 4},
    "book2": {"title": "Data Science", "author": "Sara", "copies": 6},
    "book3": {"title": "AI Fundamentals", "author": "Omar", "copies": 3}
}

المطلوب:
1.	اطبع عناوين الكتب وعدد النسخ المتاحة.
2.	أضف مفتاح "genre" لكل كتاب بقيمة "Programming".
3.	زد عدد النسخ في "book3" إلى 5.
4.	احذف مفتاح "author" من "book2".
5.	اطبع القاموس بعد التعديلات.
الحل:



</div>